<div class="button" (click)="openString()"><span>문자열 컨텐츠 모달 열기</span></div>
<div class="button" (click)="openTemplate()"><span>template 컨텐츠 모달 열기</span></div>
<div class="button" (click)="openTemplateNoOverlay()"><span>template 모달 딤드 닫힘X</span></div>
<div class="button" (click)="openTemplateFull()"><span>template 컨텐츠를 풀로 모달 열기</span></div>
<div class="button" (click)="openComponent()"><span>component 컨텐츠를 모달 열기</span></div>

<ng-template #tmplDialogView>
    <div class="modal_tmpl popup">
        <h1>템플릿 뷰로 커스텀하게 컨텐츠 노출</h1>
        <span class="close" (click)="clickClose()">
            <i class="fa fa-close">X</i>
        </span>
    </div>
</ng-template>

<ng-template #tmplFullView>
    <div class="modal_tmpl full popup2">
        <div class="inner">
            1. 모달 오버레이를 사용하지 않고<br>
            템플릿 뷰로만 모달 사용하는 경우.<br>
            2. 자체 css를 적용(풀로 채워) 커스텀하게 컨텐츠 노출
            <span class="close" (click)="clickClose()">
                <i class="fa fa-close">X</i>
            </span>
        </div>
    </div>
</ng-template>
  