.modal-container.inner{position:fixed;top:0;left:0;z-index:1050;width:100%;height:100%;overflow:hidden;outline:0}
.modal-container.inner .overlay{width:100%;height:100%;background:rgba(0,0,0,.67)}
.modal-container.inner .modal-body{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.modal-container.full_inner{position:relative;z-index:1000}
.modal-container.full_inner .overlay{display:none}
